.status {
    font-weight: bolder;
    padding: 10px;
    font-family: 'Merriweather', serif;
}

#level, #health, #mana {
    padding: 5px;
    margin: 10px;
}
#level {
    color: black;
    font-size: 20px;
}
#health {
    color: lightgreen;
}

#mana {
    color: blue;
}