.status {
    font-weight: bolder;
    padding: 10px;
}

#health {
    padding: 5px;
    margin: 10px;
    color: green;
    background-color: gainsboro;
}

#mana {
    padding: 5px;
    margin: 10px;
    color: blue;
    background-color: gainsboro;
}